#container {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    height: 70px;
/*     flex-basis: 6%; */
/*     border: 1px solid grey; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:hover {
    background-color: aqua;
}